.form{
  margin-left: 20px; 
}
.newPost{
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.75);
  background-color: white;
  margin-left: 20px;
  border-radius: 5px;
}

.newPost textarea{
  margin-top: 20px;
}
.inpText{
  width: 85%;
  height: 50px;
 }
.inpText::placeholder{
  color: #C6CCC6;
}

.button{
  text-align: center;
  background-color: #42AA3A;
  width: 100px;
  border: none;
  height: 25px;
  color: white;
  font-size: 16px;
  margin: 20px 0px 20px 750px ;
}
.button:focus{
  outline: none;
}
