 .sidebar li{
    list-style-type: none;
    font-size: 24px;
    margin-left: -20px;
  }
.lastLi{
  margin-top: 50px;
}
.sidebar{
    grid-area: s;
    background-color: #1FBB51;
    border-radius: 5px;
    max-height: 400px;
    position: fixed;
    top: 80px;
    margin-left: 0px;
    padding: 10px 50px 50px 20px;
  }
  li a{
    text-decoration: none;
    color: white;
  }
  .sidebar a.active{
    color: blue;
  }