.right h2, .right p{
    margin: 0px;
    padding: 0px;
}
.left img{
    width: 80px;
    height:80px;
    border-radius: 50%;
    margin: 10px;
}

.user{
    display: flex;
    height:  100px;
    margin: 0px 20px 0px 20px;
    border-bottom: 1px solid #e7e8ec;
}
.users{
    background: white; 
    margin: 30px 20px 0px 100px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #e7e8ec;
}
.right button{
    width: 100px;
    margin-top: 10px;
    background-color: #42AA3A;
    border: none;
    color: white;
    height: 20px;
}
.right button:active{
    outline: none;
}
.right button:disabled{
    background-color: rgb(199, 199, 199);
}

.right{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0px 0px 50px;
}
.right div{
    margin: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
}
#name{
justify-content: space-between;
word-break: break-all;
margin-left: -30px;
margin-top: -15px;
}
#name h2 {
font-size: 16px;
}
#name p{
    font-size: 12px; 
    margin-bottom: 40px;
}
.pagination{
    border: 1px solid #e7e8ec;
    border-radius: 5px;
    padding-bottom: 10px;
    top: 55px;
    margin-left: 100px;
    width: 600px;
    position: sticky;
  background-color: white;
}

