.myProfile{
    display: flex;
   }

.myProfile img{
      width: 150px;
      height: 150px;
      margin: 20px 20px 0px 20px;
    }  
.photos{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.75);
  max-height: 230px;
}
.photos input{
  margin-left: 20px;
}
.userName{
  border-bottom: 1px solid #e7e8ec;
  margin: 10px 20px 20px 20px;
}
.text{
      border-radius: 5px;
      box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.75);
      background-color: white;
      margin: 20px 0px 20px 0px;
      line-height: 10px;
      width: 100%;
    }
.text h1{
      font-weight: normal;
      padding-bottom: 0px;
      margin-top: 30px;
    }
.profileInfo{
  margin: 20px 20px 20px 20px;
}
.profileInfo p{
  margin: 20px;

}
.profileInfo span{
  margin-left: 100px;
}
.profileInfo h4{
 padding: 0px;
 margin: 0px;
 display: inline-block;
 width: 100px;
}
.statusMain{
    margin: 20px 0px 20px 0px;
    width: 600px;
  }
.status{
    margin-top: 30px;
    border-radius: 3px;
     padding: 0px;
     }
.status p{
    padding: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
.status:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
  }
.input{
  margin-top: 8px;
    outline: none;
    width: 100%;
    margin-left: 10px;
  }


  /* Кнопка загрузки фото */
 .inputHidden{
 opacity: 0;
 position: absolute;
 top: -100px;
 left: -100px;
 }
 .inputButton{
   background-color: #e5ebf1;
   display: block;
   font-weight: bold;
   cursor: pointer;
 }
 .inputBlock{
   text-align: center;
   margin: 20px 0px 20px 20px;
   width: 150px;
   
 }
 
