.formControl.error input{
    border: 1px solid red;
}
.formControl.error span{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.formControl.warning input{
    border: 1px solid yellow;
}
.formControl{
display: flex; 
flex-direction: column;  
}
.textarea textarea{
    border: 1px solid #dfe2e8;
    text-align: start;
    font-size: 16px;
    padding: 10px 0px 0px 10px;
    resize: none;
}
.textarea textarea:focus{
    outline: none;
}