.appMain{
 display: grid;
 width: 1200px;
 grid-template-areas: 
 'h h'
 's c';
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.appMain_content{
  grid-area: c;
  margin-top: 20px;
}
.error{
  color: red;   
}



